<!DOCTYPE html>
<html>
<head>
<title>{%b(name)%}</title>
<script type="text/javascript" src="{%f(default_get_script1)%}"></script>
<link rel="stylesheet" type="text/css" href="{%f(default_get_css1)%}">
</head>
<body>
	<div class="full_screen">
		<table class="global_table">
			<tr align="left" style="height: 5%;">
				<td>
					<!--{%f(default_get_start1)%}-->
				</td>
			</tr>
			<tr style="height: 90%;" valign="top">
				<td align="left">
					<!--{%f(default_get_body1)%}-->
				</td>
			</tr>
			<tr style="height: 5%;" valign="top">
				<td>
					<!--{%f(default_get_finish1)%}-->
				</td>
			</tr>
		</table>
	</div>
</body>
</html>